@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  --lightest: #2d3142;
  --light: #4f5d75;
  --dark: #bfc0c0;
  --darkest: #ffffff;
  --accent: #ef8354;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  width: 100%;
  background-color: var(--darkest);
  scroll-behavior: smooth;
}
